
@{
    ViewBag.Title = "DptInfo";
    Layout = "~/Views/Shared/_LayoutPerson.cshtml";
}

@using PersonManagement.Models
@{
    List<Department> dpt = ViewBag.Dpt;
}

<style>
    #dptinfo {
        width: 80%;
        height: 337px;
        margin: 10px 10%;
        overflow: auto;
    }
    #dptinfo table {
        width: 100%;
        text-align: center;
    }
    tr {
        height: 30px;
    }
    table tr:hover {
        background-color: whitesmoke;
    }
    tr th {
        cursor: pointer;
    }
</style>

<form action="/Department/DptInfo" method="post" class="form-inline" style="margin-top:50px;margin-left:10%;">
    <label style="font-weight:bold;" for="Name">部门名称：</label>
    <input type="text" class="form-control" name="Name" value="@ViewBag.Name" id="content_name" placeholder="请筛选部门名称" />
    <input type="submit" value="筛&nbsp;&nbsp;选" class="btn btn-info" />
    <span style="color:red;margin-left:5%;" id="DptTips">@TempData["Tips"]</span>
</form>
<form action="/Department/DptInfo" method="post" style="float:right;margin-right:10%;margin-top:-34px;">
    <input type="submit" value="重&nbsp;&nbsp;置" class="btn btn-toolbar" />
</form>

@if (dpt.Count() == 0)
{
    <p style="margin-left:10%;margin-top:10px;">暂无数据！</p>
}
else
{
    <div id="dptinfo">
        <table border="1">
            <tr>
                <th>编号</th>
                <th>部门名称</th>
                <th>创建时间</th>
                <th>基础薪资(元)</th>
                <th>部门人数</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
            @foreach (var item in dpt)
            {
                <tr>
                    <td style="font-weight:bold;">@item.ID</td>
                    <td>@item.Name</td>
                    <td>@item.CreateTime.ToShortDateString()</td>
                    <td>@item.BasicPay.ToString("F2")</td>
                    <td>@item.Person.Count()</td>
                    <td>@item.Remark</td>
                    <td>
                        <a href="/Department/DptDelete?id=@item.ID" class="btn btn-danger" onclick="return confirm('确认删除该部门吗？')">删&nbsp;&nbsp;除</a>
                        &nbsp;&nbsp;
                        <a href="/Department/DptDetail?id=@item.ID" class="btn btn-info">查&nbsp;&nbsp;看</a>
                    </td>
                </tr>
            }
        </table>
    </div>
}