
@{
    ViewBag.Title = "DptInfo";
    Layout = "~/Views/Shared/_LayoutPerson.cshtml";
}

@using PersonManagement.Models
@{
    List<Department> Dpt = ViewBag.Dpt;
}

<style>
    table {
        text-align: center;
        overflow: auto;
        margin: 10px 10%;
        max-height: 300px;
    }

    tr {
        height: 30px;
    }

    table tr:hover {
        background-color: whitesmoke;
    }

    tr th {
        cursor: pointer;
    }
</style>

<form action="/Department/DptInfo" method="post" class="form-inline" style="margin-top:50px;margin-left:10%;">
    <label style="font-weight:bold;" for="Name">部门名称：</label>
    <input type="text" class="form-control" name="Name" value="@ViewBag.Name" id="content_name" placeholder="请输入部门名称" />
    <input type="submit" value="搜&nbsp;&nbsp;&nbsp;&nbsp;索" class="btn btn-info" />
</form>
<form action="/Department/DptInfo" method="post" style="float:right;margin-right:10%;margin-top:-34px;">
    <input type="submit" value="重&nbsp;&nbsp;&nbsp;&nbsp;置" class="btn btn-toolbar" />
</form>

<table border="1" width="80%">
    <tr>
        <th>编号</th>
        <th>部门名称</th>
        <th>创建时间</th>
        <th>基础薪资(元)</th>
        <th>操作</th>
    </tr>
    @foreach (var item in Dpt)
    {
        <tr>
            <td style="font-weight:bold;">@item.ID</td>
            <td>@item.Name</td>
            <td>@item.CreateTime.ToShortDateString()</td>
            <td>@item.BasicPay.ToString("F2")</td>
            <td style="width:40%;">
                <a href="#" class="btn btn-info">编&nbsp;&nbsp;辑</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#" class="btn btn-danger" onclick="return confirm('确认删除该部门吗？')">删&nbsp;&nbsp;除</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button href="#" class="btn btn-info" data-toggle="modal" data-target="#DetailModal" data-whatever="@item.ID">查&nbsp;&nbsp;看</button>
            </td>
        </tr>
    }
</table>

<!-- 模态框（Modal） -->
<div class="modal fade" id="DetailModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title DptName" id="exampleModalLabel">111</h4>
            </div>
            <div class="modal-body">
                <div class="form-inline">
                    <span>111</span>
                </div><br />
                <div class="form-inline">
                    <span>111</span>
                </div><br />
                <div class="form-inline">
                    <span>111</span>
                </div><br />
                <div class="form-inline">
                    <span>111</span>
                </div><br />
                <div class="form-inline">
                    <span>111</span>
                </div><br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $("#DetailModal").on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var ID = button.data("whatever")
            $.ajax({
                type: "post",
                url: "/Department/Detail",
                data: { "ID": ID },
                dataType: "Json",
                success: function (Dpt) {
                    $("#DptID").html(Dpt["ID"]);
                }
            })
        })
    </script>
}