
@{
    ViewBag.Title = "Statistics";
    Layout = "~/Views/Shared/_LayoutPerson.cshtml";
}

@using PersonManagement.Models
@{ 
    Person person1 = ViewBag.Person1;
    Person person2 = ViewBag.Person2;
    Person person3 = ViewBag.Person3;
    Person person4 = ViewBag.Person4;
    Person person5 = ViewBag.Person5;
    Person person6 = ViewBag.Person6;
}

<script src="~/Content/ECharts/echatrs.min.js"></script>

<h3 style="text-align:center;height:50px;line-height:50px;">员工薪资图</h3>
<div id="main" style="width:100%;height:500px;margin-top:20px;"></div>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    var option = {
        backgroundColor: 'lightcyan',
        tooltip: {
            show: true,
            trigger: 'item',
            backgroundColor: 'rgba(0,0,0,0.5)',
            axisPointer: {
                lineStyle: {
                    color: {
                        type: 'linear', x: 0,  y: 0, x2: 0, y2: 1,
                        colorStops: [{ offset: 0, color: '#FFD56E' }, { offset: 0.5, color: '#fff', }, { offset: 1, color: '#FFD56E' }],
                        global: false
                    }
                },
            }
        },

        legend: {
            right: 20,
            top: 0,
            itemGap: 10,//各个item之间的间隔，单位px，默认为10，
            itemWidth: 30,//图例图形宽度
            itemHeight: 10,//图例图形高度
            textStyle: { color: 'red', fontWeight: 'normal', fontSize: 14 },
        },

        yAxis: [{
            type: 'value',
            min: 0,
            splitNumber: 4,
            splitLine: { show: true },
            axisLabel: {  show: true, textStyle: { color: '#737373', } },//坐标轴刻度标签的相关设置。
            axisLine: { show: true, },
            axisTick: { show: false, },
            splitLine: { lineStyle: { color: 'rgba(131,101,101,0.2)', type: 'dashed', } },
            show: true,
        }],

        xAxis: [{
            type: 'category',
            data: [
                '@person1.Name',
                '@person2.Name',
                '@person3.Name',
                '@person4.Name',
                '@person5.Name',
                '@person6.Name',
            ],//x轴员工数据
            axisTick: { show: false },// 是否显示坐标轴轴线
            axisLabel: { color: '#282828' },
            splitLine: { show: false },
            boundaryGap: true,
            axisLine: {  show: true, inside: false, lineStyle: { color: '#000' } }//坐标轴轴线相关设置。
        },],

        series: [{
            type: 'bar',
            barMaxWidth: 20,//柱形图宽度
            zlevel: 10,
            data: [
                '@person1.Pay.Sum(p => p.OtherPay + p.AttPay).ToString("F2")',
                '@person2.Pay.Sum(p => p.OtherPay + p.AttPay).ToString("F2")',
                '@person3.Pay.Sum(p => p.OtherPay + p.AttPay).ToString("F2")',
                '@person4.Pay.Sum(p => p.OtherPay + p.AttPay).ToString("F2")',
                '@person5.Pay.Sum(p => p.OtherPay + p.AttPay).ToString("F2")',
                '@person6.Pay.Sum(p => p.OtherPay + p.AttPay).ToString("F2")'
            ],//y轴薪资数据
            itemStyle: {
                normal: {
                    color: {
                        type: 'linear', x: 0, y: 0, x2: 0, y2: 1,
                        colorStops: [{ offset: 0, color: 'deepskyblue' }, { offset: 1, color: 'wheat' }]
                    },
                    barBorderRadius: [30, 30, 0, 0],
                }
            },
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>