<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Snake人力资源网</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Css/LayoutPersonCss.css" rel="stylesheet" />
</head>
<body>

    <div id="top_view">
        <div class="container-fluid" style="height:80px;">
            <div class="navbar-header" style="width:80%;height:80px;">
                <img src="~/Content/Images/logo.jpg" style="height:80px;display:inline-block;cursor:pointer;" title="logo"/>
                <h2 style="font-family:楷体;display:inline-block;">Snake人力资源管理系统</h2>
            </div>
            <ul class="nav navbar-nav navbar-right" style="width:20%;height:80px;">
                <li style="width:60%;">
                    <a href="#" style="height:80px;line-height:50px;" title="系统管理员">
                        @if (Session["LoginName"] == null)
                        {
                            @:欢迎回来--XXX
                        }
                        else
                        {
                            @:欢迎回来--@Session["LoginName"]
                        }
                    </a>
                </li>
                <li style="width:40%;">
                    <a href="/AdminT/LogOut" style="height:80px;line-height:50px;" onclick="return confirm('确认注销？')">
                        <span class="glyphicon glyphicon-log-out"></span> 注销
                    </a>
                </li> 
            </ul>
        </div>
    </div>
    <div id="foot_view">
        <div id="left_view">
            <div class="panel-group" id="accordion">
                @*首页*@
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <a data-parent="#accordion" href="/AdminT/BgHome">
                            <span class="glyphicon glyphicon-home"></span>
                            首页<span style="float:right;font-weight:bold;">></span>
                        </a>
                    </div>
                </div>
                @*部门管理*@
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <span class="glyphicon glyphicon-book"></span>
                            部门管理<span style="float:right;font-weight:bold;">></span>
                        </a>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <a href="/Department/DptInfo"><span class="glyphicon glyphicon-edit"></span>部门信息</a>
                        </div>
                        <div class="panel-body">
                            <a href="/Department/DptAdd"><span class="glyphicon glyphicon-plus"></span>添加部门</a>
                        </div>
                    </div>
                </div>
                @*招聘管理*@
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                            <span class="glyphicon glyphicon-fire"></span>
                            招聘管理<span style="float:right;font-weight:bold;">></span>
                        </a>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            <a href="/Employment/EpmInfo"><span class="glyphicon glyphicon-inbox"></span>应聘人员</a>
                        </div>
                        <div class="panel-body">
                            <a href="/Employment/EpmDeleteRecord"><span class="glyphicon glyphicon-trash"></span>删除记录</a>
                        </div>
                    </div>
                </div>
                @*员工管理*@
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            <span class="glyphicon glyphicon-user"></span>
                            员工管理<span style="float:right;font-weight:bold;">></span>
                        </a>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <a href="/Person/PersonInfo"><span class="glyphicon glyphicon-hdd"></span>员工信息</a>
                        </div>
                        <div class="panel-body">
                            <a href="#"><span class="glyphicon glyphicon-envelope"></span>消息</a>
                        </div>
                    </div>
                </div>
                @*考勤管理*@
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                            <span class="glyphicon glyphicon-calendar"></span>
                            考勤管理<span style="float:right;font-weight:bold;">></span>
                        </a>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            <a href="/Attendance/AttInfo"><span class="glyphicon glyphicon-list"></span>员工考勤</a>
                        </div>
                        <div class="panel-body">
                            <a href="#"><span class="glyphicon glyphicon-duplicate"></span>请假申请</a>
                        </div>
                    </div>
                </div>
                @*奖惩管理*@
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                            <span class="glyphicon glyphicon-gift"></span>
                            奖惩管理<span style="float:right;font-weight:bold;">></span>
                        </a>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <a href="/Reward/RewardInfo"><span class="glyphicon glyphicon-list"></span>奖惩列表</a>
                        </div>
                        <div class="panel-body">
                            <a href="/Reward/RewardAdd"><span class="glyphicon glyphicon-plus"></span>奖惩录入</a>
                        </div>
                    </div>
                </div>
                @*培训管理*@
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSever">
                            <span class="glyphicon glyphicon-tag"></span>
                            培训管理<span style="float:right;font-weight:bold;">></span>
                        </a>
                    </div>
                    <div id="collapseSever" class="panel-collapse collapse">
                        <div class="panel-body">
                            <a href="/Train/TrainInfo"><span class="glyphicon glyphicon-list"></span>培训列表</a>
                        </div>
                        <div class="panel-body">
                            <a href="/Train/TrainAdd"><span class="glyphicon glyphicon-plus"></span>添加培训</a>
                        </div>
                    </div>
                </div>
                @*薪资管理*@
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            <span class="glyphicon glyphicon-usd"></span>
                            薪资管理<span style="float:right;font-weight:bold;">></span>
                        </a>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <a href="/Pay/PayInfo"><span class="glyphicon glyphicon-list"></span>薪资列表</a>
                        </div>
                        <div class="panel-body">
                            <a href="/Pay/Statistics"><span class="glyphicon glyphicon-pencil"></span>统计报表</a>
                        </div>
                    </div>
                </div>
                @*系统管理*@
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                            <span class="glyphicon glyphicon-cog"></span>
                            系统管理<span style="float:right;font-weight:bold;">></span>
                        </a>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse">
                        <div class="panel-body">
                            <a href="/AdminT/Administrator"><span class="glyphicon glyphicon-asterisk"></span>管理员</a>
                        </div>
                        <div class="panel-body">
                            <a href="/AdminT/Versions"><span class="glyphicon glyphicon-pushpin"></span>版本</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="systime">
                <p id="nowtime"></p>
            </div>
        </div>

        <div id="right_view">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

@*时间*@
<script type="text/javascript">
    function showClock() {
        var now = new Date();//当前时间
        var year = now.getFullYear();//年
        var month = now.getMonth() + 1;//月
        var day = now.getDate();//日
        var hours = now.getHours();//时
        var minutes = now.getMinutes();//分
        var seconds = now.getSeconds();//秒
        var week = now.getDay();//周
        var sWeek;//转换为星期
        switch (week) {
            case 0:
                sWeek = "星期日";
                break;
            case 6:
                sWeek = "星期六";
                break;
            case 5:
                sWeek = "星期五";
                break;
            case 4:
                sWeek = "星期四";
                break;
            case 3:
                sWeek = "星期三";
                break;
            case 2:
                sWeek = "星期二";
                break;
            case 1:
                sWeek = "星期一";
                break;
        }
        $("#nowtime").html(year + "年" + checkTime(month) + "月" + checkTime(day) + "日<br />" + sWeek + "<br />" + checkTime(hours) + ":" + checkTime(minutes) + ":" + checkTime(seconds));
    }
    function checkTime(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }
    setInterval("showClock()", 1000);
    onload = showClock();
</script>
