<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>个人中心</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Css/LayoutPersonCenter.css" rel="stylesheet" />
</head>
<body>
    <div id="top_view">
        <img src="~/Content/Images/CatWLogoFront.jpg" title="猫赢Logo"/>
    </div>
    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
