<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>个人中心</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Css/LayoutPersonCenter.css" rel="stylesheet" />
</head>
<body>
    <div id="top_view">
        <img src="~/Content/Images/CatWLogoPerson.jpg" title="猫赢Logo"/>
    </div>
    <div id="foot_view">
        <div id="left_view">
            <p style="margin-top:5px;"><a href="/Person/PCenter">首页</a></p>
            <p><a href="/Person/PMyInfo">我的资料</a></p>
            <p><a href="/Person/PMyAttendance">考勤</a></p>
            <p><a href="/Person/PMyPay">薪资</a></p>
            <p><a href="/Person/PMyTrain">培训</a></p>
            <p><a href="/Person/PMyReward">奖惩</a></p>
            <p><a href="/Person/PMyMessage">消息</a></p>
            <p><a href="#">公告</a></p>
            <p><a href="/FrontPage/FrontHome">返回</a></p>
        </div>
        <div id="right_view">
            <div id="MyInfo">
                @RenderBody()
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
