
@{
    ViewBag.Title = "PersonInfo";
    Layout = "~/Views/Shared/_LayoutPerson.cshtml";
}

@using PersonManagement.Models
@{
    List<Person> person = ViewBag.Person;
}

<style>
    #personinfo {
        width: 80%;
        height: 337px;
        margin: 10px 10%;
        overflow: auto;
    }
    #personinfo table {
        width: 100%;
        text-align: center;
    }
    tr {
        height: 30px;
    }
    table tr:hover {
        background-color: whitesmoke;
    }
    tr th {
        cursor: pointer;
    }
</style>

<form action="/Person/PersonInfo" method="post" class="form-inline" style="margin-top:50px;margin-left:10%;">
    <label style="font-weight:bold;" for="Name">员工姓名：</label>
    <input type="text" class="form-control" name="Name" value="@ViewBag.Name" id="content_name" placeholder="请筛选员工" />
    <input type="submit" value="筛&nbsp;&nbsp;选" class="btn btn-info" />
    <span style="color:red;margin-left:3%;">@TempData["Tips"]</span>
</form>
<form action="/Person/PersonInfo" method="post" style="float:right;margin-right:10%;margin-top:-34px;">
    <input type="submit" value="重&nbsp;&nbsp;置" class="btn btn-toolbar" />
</form>

@if (person.Count == 0)
{
    <p style="margin-left:10%">暂无数据！</p>
}
else
{
    <div id="personinfo">
        <table border="1">
            <tr>
                <th>编号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>所属部门</th>
                <th>联系电话</th>
                <th>地址</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
            @foreach (var item in person)
            {
                <tr>
                    <td style="font-weight:bold;">@item.ID</td>
                    <td>@item.Name</td>
                    <td>@item.Sex</td>
                    <td>@item.Department.Name</td>
                    <td>@item.Phone</td>
                    <td>@item.Address</td>
                    <td>@item.Remark</td>
                    <td>
                        <a href="/Person/PersonDetail?id=@item.ID" class="btn btn-info">查&nbsp;&nbsp;看</a>&nbsp;&nbsp;
                        <a href="/Person/PersonDelete?id=@item.ID" class="btn btn-danger" onclick="return confirm('请确保 @item.Name 无其它信息记录，再删除！')">删&nbsp;&nbsp;除</a>
                    </td>
                </tr>
            }
        </table>
    </div>
}