
@{
    ViewBag.Title = "PMyReward";
    Layout = "~/Views/Shared/_LayoutPersonCenter.cshtml";
}

@using PersonManagement.Models
@{ 
    List<Reward> reward = ViewBag.MyReward;
}

<style>
    #form4 {
        width: 90%;
        height: 60px;
        line-height: 60px;
        font-size: 16px;
        margin-left: 5%;
    }
    #table4 {
        width: 90%;
        height: 300px;
        overflow: auto;
        margin-left: 5%;
    }
    #table4 table {
        width: 100%;
    }
    #table4 table tr {
        height: 30px;
        text-align: center;
    }
</style>

<div style="width:100%;height:20px;"></div>
<form action="/Person/PMyReward" method="post" id="form4">
    <div class="form-inline">
        <label for="RewardType">奖惩类型：</label>
        <select name="RewardType" class="form-control">
            <option>--请选择--</option>
            <option value="全部">全部</option>
            <option value="奖励">奖励</option>
            <option value="惩罚">惩罚</option>
        </select>
        <input type="submit" value="筛&nbsp;&nbsp;选" class="btn btn-info" />
        <a href="/Person/PMyReward" class="btn btn-info">刷&nbsp;&nbsp;新</a>
    </div>
</form>

@if (reward == null)
{
    <p style="margin-left:5%;">暂无数据！</p>
}
else {
    <div id="table4">
        <table border="1">
            <tr>
                <th>编号</th>
                <th>类型</th>
                <th>内容</th>
                <th>时间</th>
                <th>奖励(惩罚)</th>
            </tr>
            @foreach (var item in reward)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.RewardType</td>
                    <td>@item.Topic</td>
                    <td>@item.RewardTime.ToShortDateString()</td>
                    <td>@item.RewardGift</td>
                </tr>
            }
        </table>
    </div>
}