
@{
    ViewBag.Title = "APMessage";
    Layout = "~/Views/Shared/_LayoutPerson.cshtml";
}

@using PersonManagement.Models
@{
    List<A_P_Message> apm = ViewBag.Apm;
    List<Person> person = ViewBag.Person;
}

<style>
    #forma {
        width: 80%;
        height: 40px;
        margin-top: 40px;
        margin-left: 10%;
    }
    #apminfo {
        width: 80%;
        height: 337px;
        margin: 10px 10%;
        overflow: auto;
    }
    #apminfo table {
        width: 100%;
        text-align: center;
    }
    tr {
        height: 30px;
    }

    table tr:hover {
        background-color: whitesmoke;
    }

    tr th {
        cursor: pointer;
    }
</style>

<div id="forma" class="form-inline">
    <form action="/A_P_Message/APMessage" method="post" class="form-inline" style="width:30%;">
        <label style="font-weight:bold;" for="State">回复状态：</label>
        <select type="text" class="form-control" name="State">
            <option value="--请选择--">--请选择--</option>
            <option value="全部">全部</option>
            <option value="1">已回复</option>
            <option value="0">未回复</option>
        </select>
        <input type="submit" value="筛&nbsp;&nbsp;选" class="btn btn-info" />
    </form>
    <form action="/A_P_Message/APMessage" method="post" class="form-inline" style="width:30%;margin-top:-34px;margin-left:25%;">
        <label style="font-weight:bold;" for="Name">员工姓名：</label>
        <select type="text" class="form-control" name="ID">
            <option value="--请选择--">--请选择--</option>
            <option value="全部">全部</option>
            @foreach (var item in person)
            {
                <option value="@item.ID">@item.Name</option>
            }
        </select>
        <input type="submit" value="筛&nbsp;&nbsp;选" class="btn btn-info" />
    </form>
    <form action="/A_P_Message/APMessage" method="post" style="float:right;margin-top:-34px;">
        <input type="submit" value="重&nbsp;&nbsp;置" class="btn btn-toolbar" />
    </form>
</div>

@if (apm == null)
{
    <p style="margin-left:10%">暂无数据！</p>
}
else
{
    <div id="apminfo">
        <table border="1">
            <tr>
                <th>编号</th>
                <th>姓名</th>
                <th>时间</th>
                <th>信息</th>
                <th>原因</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            @foreach (var item in apm)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Person.Name</td>
                    <td>@item.SendTime</td>
                    <td>@item.Message</td>
                    <td>@item.Reason</td>
                    <td>
                        @if (item.State == 0)
                        {
                            @:未回复
                        }
                        else
                        {
                            @:已回复
                        }
                    </td>
                    <td>
                        @if (item.State == 0)
                        {
                            <a href="/A_P_Message/APMReply?id=@item.ID" class="btn btn-info">回&nbsp;&nbsp;复</a>
                        }
                        else
                        {
                            <a href="/A_P_Message/APMLook?id=@item.ID" class="btn btn-info">查&nbsp;&nbsp;看</a>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
}