
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Snake人力资源管理--登录</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            margin: 0px;
            padding: 0px;
            list-style-type: none;
            background-color: aliceblue;
        }
        h2 {
            font-family: "楷体";
            font-weight: bold;
            text-align: center;
            margin-top: 140px;
        }
        #form1 {
            width: 40%;
            height: 360px;
            border-radius: 8px;
            position: absolute;
            top: 180px;
            left: 30%;
            background-color: honeydew;
            box-shadow: 3px 3px 10px gray;
        }
        .form-text {
            text-align: center;
            line-height: 40px;
        }
        p {
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <h2>Snake人力资源管理系统</h2>
    <form action="/AdminT/Index" method="post" id="form1">
        <p></p>
        <div class="form-inline form-group form-text">
            管理：<input type="text" class="form-control" name="LoginName" placeholder="管理员名称">
        </div>
        <div class="form-inline form-group form-text">
            密码：<input type="password" class="form-control" name="LoginPwd" placeholder="管理员密码">
        </div>
        <div class="form-group form-text" style="color:red;">
            @TempData["ErrorTips"]
        </div>
        <div class="form-group form-text">
            <button type="submit" class="btn btn-info">登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
        </div>
    </form>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
